.homepage {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;

	@include breakpoint(xs) {
		padding: 2rem 3rem;
		width: 100%;
	}	
}

.homepage-title {
	display: block;
	font-size: 1.125rem;
	margin-bottom: 1rem;
	padding-left: 1rem;
	text-align: center;
	width: 100%;	
}
