* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
}

.container {
	margin-top: 6rem;
}

.primary-btn {
	background-color: #000000;
	border: 1px solid #000000;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: 600;
    height: 2.5rem;
	transition: all 0.2s ease-in;

	&:hover {
		background-color: #494949;
	}
}

.title {
	display: block;
	font-size: 1.125rem;
	margin-bottom: 2rem;
}

.animated-gradient {
	@include background-gradient();
	animation: shine-lines $skeleton-animation-duration infinite linear;

	@keyframes shine-lines {
		0% {
			background-position: -10rem;
		}

		100% {
			background-position: 6rem;
		}
	}
}

