$primaryColor : #ffffff;

$lightFontColor: #a8a8a8;
$lightFontColorHover: #474747;

// Skeleton loading variables
$skeleton-base-color: #eeeded;
$skeleton-base-color-alt: #f7f7f7;
$skeleton-shine-color: #ebe9e9;
$skeleton-animation-duration: 1.6s;