.address-form-input {
    display: inline-block;
    height: 4.5rem;
    margin: 0 0 1rem;
    padding: 0 1rem;
    width: 100%;

    @include breakpoint(xs){
        margin: 0 0 0.5rem;
        width: 49%;        
    }
}

.form-item-label {
    display: block;
    font-size: 0.85rem;
    margin: 0 0 0.25rem;
}

.form-item-input {
    border: 1px solid #e2e2e2;
    font-size: 16px;
    padding: 0.5rem;
    width: 100%;
}

.error-message-container {
    height: 1.25rem;
}

.error-message {
    color: #ff0000;
    display: block;
    font-size: 0.7rem;
    width: 100%;
}