.navbar {
	background-color: $primaryColor;
	height: 7.5rem;
	padding: 0 3rem;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		height: 3rem;

		@include breakpoint(xs) {
			height: 4.5rem;
		}
	}
}
