.navbar {
	align-items: center;
	background-color: $primaryColor;
	display: flex;
	height: 6rem;
	justify-content: space-between;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;

	@include breakpoint(xs){
		padding: 0 3rem;
	}

	.logo {
		height: 3.5rem;

		@include breakpoint(xs) {
			height: 4.5rem;
		}
	}
}

.navbar-product-options{
	align-items: center;
	display: flex;
	font-size: 0.9rem;
	justify-content:space-between;
	width: 20rem;
}
